#new-message {
	padding: 20px;
	border-top: 1px solid #ddd;
	background: #f8f8f8;
}

#new-message form {
	display: grid;
	grid-template-columns: 200px auto 100px;
	align-items: stretch;
}

#new-message input[type='text'] {
	border-right: none;
	border-radius: 3px 0 0 3px;
}

#new-message input[type='file'] {
	max-width: 200px;
	font-size: 14px;
}

#new-message input[type='file']::-webkit-file-upload-button {
	background: white;
	border: 1px solid #ccc;
	padding: 8px 12px;
	border-radius: 3px;
	height: 40px;
}

#new-message button[type='submit'] {
	border-radius: 0 3px 3px 0;
}
